  @import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');



.Root{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  font-family: 'Overpass', sans-serif;
}

.Tree {
    display: flex;
    height: 500px;
    width : 630px; 
    background-color: hsl(213, 19%, 18%);
    border-radius: 7%;
    justify-content: center;
}
.Branch{
  margin-top: 2rem;
  padding-right: 3rem;
  padding-left: 3rem;
  width: auto;
  height: auto;
  display: flex;
flex-direction: column;
}

.Img{
border-radius: 50%;
background-color: hsla(215, 13%, 29%, 0.774);
height: 60px;
width: 60px;
display: flex;
justify-content: center;
align-items: center;
margin-top: 1rem;
margin-bottom: 1rem;
}

.Box{
  display: flex;
  flex-direction: column;
}
.How{
  color: hsl(0, 0%, 100%);
  height: auto;
}
.Please{
  margin-top: -2rem;
  color: hsla(216, 9%, 66%, 0.829);
  height: auto;
}

.Number{
  margin-top: 1rem;
  display: flex;
}
.Number div{
  border-radius: 50%;
  background-color: hsla(215, 13%, 29%, 0.774);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
  height: 60px;
  width: 60px;
  color: hsla(216, 9%, 66%, 0.829)
}
.Before{
  display: flex;
  height: 90px;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.End{
  margin-top: 1rem;
  background-color: hsl(25, 97%, 53%); 
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  border-radius: 50px; 
color: hsl(0, 0%, 100%);
}
.End h3{
  margin-left : 0.15rem;
}
